<template>
	<div>
		<loading v-show="loading" position-fixed="1==1"></loading>
		<chat ref="chat"></chat>

		<div>
			<div class="multi-checkbox-filter btn-group btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-outline-primary" v-for="filtro in ['Declinada','Mensagem não lida','Participar']">
					<input type="checkbox" autocomplete="off" v-model="multi_checkbox" :value="filtro">{{filtro}}
				</label>
			</div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr class="bg-dark text-white">
					<th class="min-size">Data</th>
					<th class="min-size">Pregao</th>
					<th>Orgão</th>
					<th class="min-size">Status</th>
					<th class="min-size">Item</th>
					<th class="min-size">Valor</th>
					<th>Descr.</th>
					<th colspan="2">Obs.</th>
					<th class="min-size">Ações</th>
				</tr>
			</thead>
			<vigente-row :status-item="status_item" :lic="licitacao" @chat="$refs.chat.openChat" v-for="licitacao in licitacoes"></vigente-row>
		</table>
		<pagination :current="cur_page" :total="total_page" @change="changePage"></pagination>

	</div>
</template>

<script type="text/javascript">
import Chat from '../../components/Chat.vue';
import VigenteRow from '../../components/VigenteRow.vue';
import UrlApi from '../../UrlApi';

export default{
	components: {
		'chat':Chat,
		'vigente-row':VigenteRow
	},
	data(){
		return {
			licitacoes:[],
			cur_page:1,
			total_page:1,
			loading:false,
			multi_checkbox:[],
			status_item:[],
		}
	},
	created(){
		this.getData();
		this.getStatusItem();
	},
	methods:{
		multiCheckBoxClass(f){
			if(this.multi_checkbox.indexOf(f)>0)
				return 'btn-info';
			return 'btn-outline-info';
		},
		getData(){
			var self = this;
			self.loading = true;
			var params ={
				page:this.cur_page
			};

			UrlApi.make('licitacao/vigentes', params).get().then(function(result){
				result = result.data;
				if(result.cur_page > result.total_page){
					self.changePage(result.total_page);
					return;
				}
				self.cur_page = result.cur_page;
				self.total_page = result.total_page;
				self.licitacoes = result.data;
				self.loading = false;
			});
		},
		changePage(p){
			this.cur_page = p;
			this.getData();
		},
		getStatusItem(){
			var self = this;
			UrlApi.make('licitacao/status').get().then(function(r){
				self.status_item = r.data;
			});
		}
	}
}
</script>

<style type="text/css">

textarea{
	overflow: hidden;
}	
.multi-checkbox-filter.btn-group.btn-group-toggle .btn{
	box-shadow: none;
}
.multi-checkbox-filter.btn-group.btn-group-toggle .btn.active {
	background-color: #0153ab;
	color: #fff;
}


.min-size{
	width: 2px;
}

.table td, .table th{
	padding: 4px;
	vertical-align: middle;
}
.table *{

	font-size: 14px;
}

</style>