<template>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center text-white mb-4">Bootstrap 4 Login Form</h2>
				<div class="row">
					<div class="col-md-6 mx-auto">
						<span class="anchor" id="formLogin"></span>
						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Login</h3>
							</div>
							<div class="card-body">
								<form class="form" role="form" autocomplete="off" id="formLogin">
									<div class="form-group">
										<label for="uname1">E-mail</label>
										<input type="text" class="form-control form-control-lg rounded-0" v-model='email' id="uname1" required="">
									</div>
									<div class="form-group">
										<label>Senha</label>
										<input type="password" class="form-control form-control-lg rounded-0" v-model='password' id="pwd1" required="" autocomplete="new-password">
									</div>
									<button type="button" @click="login()" class="btn btn-success btn-lg float-right">Login</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
import UrlApi from '../UrlApi';

export default{
	data(){
		return{
			email:'taddeucci23@gmail.com',
			password:'Teste123',
		}
	},
	methods:{
		login(){
			UrlApi.authenticate(this.email,this.password).then(function(r){
				try{
					UrlApi.setToken(r.data.response.user.authentication_token);
					location = '/';
				}catch(e){

				}
			});
		}
	}
}
</script>