<template>
	<div class="modal" id="chat-app"  role="dialog" tabindex="-1" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-dark text-white">
					<h6 class="modal-title">PE 12/2018 - Prefeitura de Taubaté (SP)</h6>
					<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-light">
					<div class="chat-content">
						<loading v-show="loading"></loading>
						<div class="alert alert-primary load-more" role="alert" v-show="load_more" @click="loadMessages()">
							<button type="button" class="btn btn-link">Carregar mais mensagens</button>
						</div>
						<div class="card bg-white text-dark" v-for="msg in messages">
							<div class="card-body">
								<h6 class="card-subtitle text-capitalize">
									<span class="font-weight-bold">{{msg.usuario}}</span>
									<span class="text-muted">{{msg.enviado|formatDate}}</span>
								</h6>
								<p class="card-text">{{msg.mensagem}}</p>
							</div>
						</div>
					</div>
					<div class="chat-send">
						<div class="input-group">
							<textarea class="form-control custom-control" v-on:keyup.enter="sendMessage()" rows="2" style="resize:none" v-model.trim="message"></textarea>     
							<span @click="sendMessage()" class="input-group-addon btn btn-info send-button" :class="{'disabled' : !hasMessage()}">Enviar</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">

import UrlApi from '../UrlApi';
var dedupe = require('dedupe');

export default{
	data(){
		return{
			message:'',
			load_more: true,
			limit:10,
			messages :[],
			last_chat_id :0,
			loading:false,
			chatId:0
		}
	},
	watch:{
		chatId(to){
			this.openChat(to);
		}
	},
	methods:{
		hasMessage(){
			return this.message != '';
		},
		sendMessage(){
			var self = this;
			if(!this.hasMessage())
				return;
			

			UrlApi.make('chat/'+this.chatId+'/add').post({msg:this.message}).then(function(r){
				self.loadNewMessages();
			});

			this.message = '';
		},
		loadNewMessages(){
			this.getMessages(false);
		},
		loadMessages(){
			this.getMessages(true);
		},
		getMessages(load_hist = true){

			var self = this;
			self.loading = true;

			var params = {
				limit:this.limit
			};

			if(this.messages.length > 0){
				if(load_hist){
					params.before = this.messages[0].id;
				}else{
					params.after = this.messages.slice(-1)[0].id;
				}
			}


			UrlApi.make('chat/'+this.chatId+'/view',params).get().then(function(result){
				if(typeof result == 'undefined'){
					return;
				}

				var data = result.data;
				
				if(load_hist)
					self.load_more = data.length == self.limit && self.load_more; 

				data = dedupe(data.concat(self.messages));

				data.sort(function(a,b){
					return new Date(a.enviado) - new Date(b.enviado);
				});
				
				self.messages = data;
				self.loading = false;
			});
		},
		openChat(id){
			if(!id) return;
			if(id != this.last_chat_id){
				this.chatId = id;
				this.messages =[];
				this.load_more = true;
				this.loadMessages();
				this.message = '';
				this.last_chat_id = id;	
			}else{
				this.loadNewMessages();
			}
			jQuery('#chat-app').modal('show');
		}
	}
}
</script>

<style type="text/css">
#chat-app .send-button{
	padding-top: 18px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
#chat-app .card{
	margin-bottom: 10px;
}
#chat-app .card-body{
	padding: 15px 10px 5px 10px;
}
#chat-app .load-more{
	padding: 0px;
	margin-right: -16px;
	margin-left: -16px;
	border-radius: 0px;
	text-align: center;
}
#chat-app .chat-send{
	padding: 16px;
	margin-top: 0px;
	background-color: #ebeced;
}
#chat-app .chat-content{
	height: 410px;
	overflow-y: auto;
	padding:0px 16px;
	position: relative;
}
#chat-app .modal-body{
	padding:0px;
}
#chat-app .modal-header{
	padding: 10px 16px;
	border-radius: 0px;
}
</style>