<template>
	<div class="loading" :class="{'loading-fixed':positionFixed}">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
</template>

<script type="text/javascript">
export default{
	props:{
		positionFixed:{
			default:false
		}
	}
}
</script>

<style type="text/css">
.loading{
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	color: #fff;
	vertical-align: middle;
	text-align: center;
}
.loading.loading-fixed{
	position: fixed;
}
.loading i.fa{
	position: absolute;
	top: calc( 50% - 30px );
}
</style>