<template>
	<tbody :class="bg()">
		<tr v-for="(item, indx) in lic.itens" :class="{edit:edit}">
			<td :rowspan="rowspan()" v-if="indx==0" class="no-warp">{{lic.data_abertura|formatDate}}</td>
			<td :rowspan="rowspan()" v-if="indx==0" class="no-warp">{{lic.tipo}} {{lic.pregao}}/{{lic.ano}}</td>
			<td :rowspan="rowspan()" v-if="indx==0">{{lic.orgao}}</td>


			<td  class="edit-row no-warp" :class="bg(item.status)">
				<span v-if="!edit">{{getStatus(item.status)}}</span>
				<select v-else class="form-control edit-status" v-model="item.status">
					<option v-for="stat in statusItem" :value="stat.sigla">{{stat.descricao}}</option>
				</select>
			</td>
			<td :class="bg(item.status)" class="edit-row no-warp">
				<span v-if="!edit">{{item.item}}</span>
				<input v-else class="form-control edit-item" maxlength="5" v-model.trim="item.item">
			</td>
			<td :class="bg(item.status)" class="edit-row no-warp">
				<span v-if="!edit">{{item.valor|formatMoney}}</span>
				<div v-else class="input-group edit-valr">
					<div class="input-group-prepend">
						<span class="input-group-text">R$</span>
					</div>
					<input class="form-control" v-model.number="item.valor">
				</div>
			</td>
			<td :class="bg(item.status)" class="edit-row">
				<span v-if="!edit">{{item.descr}}</span>
				<textarea v-else class="form-control" rows="1" v-model.trim="item.descr"></textarea>
			</td>
			<td :class="bg(item.status)" class="edit-row">
				<span v-if="!edit">{{item.obs}}</span>
				<textarea v-else class="form-control" rows="1" v-model.trim="item.obs"></textarea>
			</td>
			<td :class="bg(item.status)" class="edit-row">
				<i class="fa fa-trash" v-if="edit" @click="removeItem(indx)"></i>
			</td>
			<td :rowspan="rowspan()" v-if="indx==0" class="no-warp text-right">
				<i class="fa fa-plus" v-if="edit" @click="addItem()"></i>
				<i class="fa fa-sign-out" v-if="edit" @click="cancel()"></i>
				<i class="fa fa-floppy-o"  v-if="edit" @click="update()"></i>
				<i v-if="!edit" @click="edit = true" class="fa fa-pencil"></i>
				<i @click="$emit('chat', lic.id)" class="fa fa-comment" ></i>
			</td>
		</tr>
	</tbody>
</template>

<script type="text/javascript">
import dedupe from 'dedupe';
import UrlApi from '../UrlApi';
export default{
	props:{
		lic:{
			type:Object
		},
		statusItem:{
			default:[]
		}
	},
	watch:{
		edit(to){
			if(to){
				this.lic.before_edit =  JSON.parse(JSON.stringify(this.lic.itens));
			}else{
				delete this.lic.before_edit;
			}
		},
		lic(to){
			this.edit = false;
		}
	},
	created(){
		if(this.lic.itens.length == 0)
			this.addItem();
	},
	data(){
		return{
			edit:false
		}
	},
	methods:{
		baseObj(obj){
			return JSON.parse(JSON.stringify(obj));
		},
		rowspan(){
			return this.lic.itens.length;
		},
		cancel(){
			this.lic.itens = Jthis.baseObj(this.lic.before_edit);
			this.edit = false;
		},
		update(){
			var self = this;
			//this.loading = true;
			UrlApi.make('licitacao/'+this.lic.id+'/update').post({
				data:this.lic.itens
			}).then(function(r){
				self.lic.itens = r.data;
				self.edit=false;
			}).catch(function(){
				alert('Erro ao salvar dados');
			});
		},
		getStatus(s){
			if(this.statusItem.length ==0) return;
			return this.statusItem.filter(function(obj){
				return obj.sigla == s;
			})[0].descricao;
		},
		bg(stat){
			if(!stat){
				stat = this.lic.itens.map(function(o){
					return o.status;
				});
			}

			if(stat.indexOf('REC')>-1){
				return ['bg-warning','text-dark'];
			}else if(stat.indexOf('GNH')>-1){
				return ['bg-success','text-white'];
			}else if(stat.indexOf('PRT')>-1){
				return ['bg-success','text-white'];
			}else if(stat.indexOf('ESC')>-1){
				return ['bg-info','text-white'];
			}else if(stat.indexOf('PER')>-1){
				return ['bg-danger','text-white'];
			}else if(stat.indexOf('DCL')>-1){
				return ['bg-secondary','text-white'];
			}else {
				return ['bg-white','text-dark'];
			}
		},
		addItem(){
			this.lic.itens.push({status_descr:'Pendente',valor:null,status:'PND',item:null,descr:null,obs:null});
		},
		removeItem(i){
			this.lic.itens.splice(i,1);
		}
	}
}
</script>

<style>
.no-warp{
	white-space: nowrap!important;
}
.edit-status{
	height: 30px!important;
	width: 130px;
	padding:3px;
}
.edit-item{
	height: 30px;
	padding:3px;
	width: 50px;
}
.edit .edit-row{
	border-left:none!important;
	padding: 2px!important;
	border-right: none!important;
}
.edit-valr{
	width: 120px;
}
.edit-valr .input-group-text{
	padding:4px!important;
}
.edit-valr input{
	padding:3px;
}
</style>