<template>
  <div id="app"  v-if="$route.name =='Login'">
    <router-view></router-view>
  </div>
  <div id="app" v-else>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">LICs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link to="/" class='nav-link'>home</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/licitacao/vigentes" class='nav-link'>Licitações Vigentes</router-link>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mario Taddeucci <i class="fa fa-user-circle" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Opções</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sair</a>
          </div>
        </li>
      </ul>
    </nav>
    <div id="app-content" class="bg-light text-dark">
      <div class="container-fluid bg-white text-dark">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>